<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <table class="table-hover">
        <tr>
          <td>Id</td>
          <td>{{productById.id}}</td>
        </tr>
        <tr>
          <td>Name</td>
          <td>{{productById.name}}</td>
        </tr>
        <tr>
          <td>Price</td>
          <td>{{productById.price}}</td>
        </tr>
        <tr>
          <td>Quantity</td>
          <td>{{productById.quantity}}</td>
        </tr>

      </table>
    </div>
  </div>
</div>
