<h1>Sign In Page</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="col-lg-6 border border-darken-2 rounded-pill">
      <label>Enter UserId</label>
      <input type="text"  class="form-control"  [(ngModel)]="userid"(keyup.enter)="onkeyup()"  >
      <label>New UserId is:{{userid}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <label>Enter Password</label>
      <input type="Password" class="form-control" [(ngModel)]="password" (keyup.enter)="onkey()">

    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-6">
      <button class="btn btn btn-outline-success" (click)="onsubmit()">Sign in</button>
    </div>
    </div>
  </div>
</div>
